* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.left {
  width: 25vw;
  padding: 4px;
}
.right {
  width: 75vw;
  /* position: relative; */
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 15px;
  list-style: none;
  padding-top: 15px;
}
.heading {
  /* display: flex; */
  gap: 15px;
  width: 100%;
}

.library {
  min-height: 80vh;
  /* position: relative; */
}

.footer {
  font-size: 10px;
  gap: 10px;
  position: absolute;
  bottom: 5px;
  /* padding: 5px; */
}
.footer a {
  color: grey;
  text-decoration: none;
  /* position: absolute; */
  bottom: 2px;
}

.heading img {
  width: 15px;
}

.heading h2 {
  font-size: 17px;
  /* padding-left: 10px; */
}

.right {
  margin: 10px 0px 10px 0px;
  position: relative;
}
.header {
  justify-content: space-between;
  background-color: #1f1f1f;
  height: 75px;
}

.header > * {
  padding: 20px;
}
.nav-buttons {
  /* display: flex; */
}

.card {
  width: 160px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
}

.card-container {
  margin: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 70vh;
}

.card {
  /* padding: 5px; */
  position: relative;
}
.card > * {
  /* margin: 5px; */
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 160px;
  right: 20px;
  /* opacity: 0; */
}

.signupbtn {
  padding: 0px 10;
  color: rgb(110, 110, 110);
  background-color: #1f1f1f;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 15px;
}
.signupbtn:hover {
  color: white;
  font-size: 16px;
}
.loginbtn {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #1f1f1f;
  font-weight: bold;
  font-size: 15px;
  height: 40px;
}

.loginbtn:hover {
  font-size: 16px;
  /* font-weight: bolder; */
}

.playbar {
  position: absolute;
  bottom: 0;
  background-color: rgb(48, 88, 48);
  width: 100%;
  padding: 12px;
}

.spotify-playlists {
  /* position: relative; */
}

.song-list {
  padding: 10px;
}

.song-list ul {
  padding-left: 20px;
}
.song-list ul li {
  list-style-type: decimal;
}
