* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.left {
  width: 25vw;
  padding: 4px;
  transition: all 0.5s;
}
.right {
  width: 75vw;
  /* position: relative; */
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 15px;
  list-style: none;
  padding-top: 15px;
}
.heading {
  /* display: flex; */
  gap: 15px;
  width: 100%;
}

.library {
  min-height: 80vh;
  /* position: relative; */
}

.footer {
  font-size: 10px;
  gap: 10px;
  position: absolute;
  bottom: 5px;
  /* padding: 5px; */
}
.footer a {
  color: grey;
  text-decoration: none;
  /* position: absolute; */
  bottom: 2px;
}

.heading img {
  width: 15px;
}

.heading h2 {
  font-size: 17px;
  /* padding-left: 10px; */
}

.right {
  margin: 10px 0px 10px 0px;
  position: relative;
}
.header {
  justify-content: space-between;
  background-color: #1f1f1f;
  height: 75px;
}

.header > * {
  padding: 20px;
}
.nav-buttons {
  display: flex;
}

.card {
  width: 160px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
}

.card-container {
  margin: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 70vh;
}

.card {
  /* padding: 5px; */
  position: relative;
}
.card > * {
  /* margin: 5px; */
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 160px;
  right: 20px;
  /* opacity: 0; */
}

.signupbtn {
  padding: 0px 10;
  color: rgb(110, 110, 110);
  background-color: #1f1f1f;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 15px;
}
.signupbtn:hover {
  color: white;
  font-size: 16px;
}
.loginbtn {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #1f1f1f;
  font-weight: bold;
  font-size: 15px;
  height: 40px;
}

.loginbtn:hover {
  font-size: 16px;
  /* font-weight: bolder; */
}

.playbar {
  filter: invert(1);
  position: absolute;
  bottom: 15px;
  left: 5px;
  background-color: rgb(199, 199, 199);
  width: 97%;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.spotify-playlists {
  /* position: relative; */
}

.song-list {
  padding: 10px;
  overflow: auto;
  height: 600px;
}

.song-list ul {
  /* padding-left: 20px; */
}
.song-list ul li {
  list-style-type: none;
}

.song-info-container {
  justify-content: space-between;
  gap: 40px;
  padding: 10px 10px;
  background-color: #1f1f1f;
  /* border: 1px solid white; */
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.songInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0;
  margin: 2px 0;
  width: 250px;
}

.song-info-container .play-button {
  /* height: 30px; */
  /* width: 30px; */
}

.playbar .seekbar {
  margin: 10px 0px 5px 0;
  border: 2px solid black;
  position: relative;
  cursor: pointer;
}

.playbar .seekbar .circle {
  height: 10px;
  width: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  top: -5px;
  transition: left 0.5s;
}

.playbar .song-info {
  /* border: 2px solid black; */
  color: #000;
  display: flex;
  justify-content: space-between;
}

.song-info .song-title {
  margin-left: 20px;
}
.song-time {
  margin-top: 3px;
  color: black;
}

.song-button {
  cursor: pointer;
  gap: 10px;
}
.hamburger img {
  display: none;
}

.home .close {
  position: absolute;
  right: 20px;
  display: none;
}

@media (max-width: 1400px) {
  /* … */
  .left {
    position: absolute;
    height: 100vh;
    left: -120%;
    width: 380px;
    z-index: 1;
    background-color: black;
  }

  .right {
    width: 100vw;
    height: 100vh;
    /* position: relative; */
  }
  .hamburger img {
    display: block;
  }

  .home .close {
    display: block;
  }

  .song-info {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .song-button img {
    width: 30px;
    height: 30px;
  }

  .playbar {
    width: 93vw;
  }
}

.vol-seek {
  /* border: 3px solid black; */
  /* margin: 5px 0 5px 0; */
  background-color: black;
  height: 5px;
  width: 100px;
  position: relative;
  border-radius: 5px;
}

.vol-seek .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: -3px;
  left: 100%;
  transition: left 0.5s;
}
.vol-duration {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 15px;
}
.volume-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  gap: 5px;
  cursor: pointer;
}
